---
import Footer from "../../components/Footer.astro";
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";
import E_Head from "../../components/Emissions/Head.astro";
import E_Video from "../../components/Emissions/Video.astro";
import Partner from "../../components/Partner.astro";

var eName = "Wrong Person, Bad Job!";
var eResume = `There is a mysterious evil person who came to GT4's house and was planning to steal the house. 
The evil person has the superpower that allows him to clone GT4's appearance. 
The cops caught the wrong GT4 and everything was messed up. How will the real GT4 deal with the imposter?
This Deaf film has no sound.`;
var ePartner = "A GT4tube film. In association with Helping Hands. Filmed in VRChat. This movie doesn't affiliate with VRChat.";

var twitch = "";
var participate = "";

const video = {
    single: {
        width: "450",
        height: "300"
    },
    playlist: {
        width: "600",
        height: "350"
    }
}
---

<Layout title={eName+" | Films | Virtual Show Production - Démonstration"} description="! Demonstration du nouveau code/design ce site n'est pas le réel VSP !">
    <Navbar />
    <E_Head 
        time="Virtual Show Production x GT4tube"
        name={eName}
        resume={eResume}
        twitch={twitch}
        participate={participate}
        partner={ePartner}
    />
    <p class="text-2xl text-center align-center mt-10">WPBJ Trailer</p>
    <div class="flex justify-center text-center align-center mb-5" style="margin-left: 5.5rem !important;">
        <E_Video 
            id="gOtv47tACls"
            width={video.playlist.width}
            height={video.playlist.height}
        />
    </div>
    <p class="text-2xl text-center align-center">Les 2 dernières sorties</p>
    <div class="flex flex-nowrap justify-center mb-14">
        <E_Video 
            id="WhULbpkokdE"
            width={video.single.width}
            height={video.single.height}
        />
        <E_Video 
            id="o84wXeiEwrE"
            width={video.single.width}
            height={video.single.height}
        />
    </div>
    <Partner />
    <Footer />
</Layout>