---
import Layout from "../../layouts/Layout.astro";
import E_Head from "../../components/Emissions/Head.astro";
import E_Video from "../../components/Emissions/Video.astro";
import Partners from "../../components/Partners.astro";

var eName = "Wrong Person, Bad Cop!";
var eResume = `There is a mysterious evil person who came to 554's house and was planning to steal the house. 
The evil person has the superpower that allows him to clone 554's appearance. 
The cops caught the wrong 554 and everything was messed up. How will the real 554 deal with the imposter?
This Deaf film has no sound.`;
var ePartner = "A 554 film. Filmed in VRChat. This movie doesn't affiliate with VRChat.";

var twitch = "";
var participate = "";

const video = {
    single: {
        width: "450",
        height: "300"
    },
    playlist: {
        width: "600",
        height: "350"
    }
}
---

<Layout 
    title={eName+" / Films"} 
    description="! Demonstration of the code/design of a template called 'TalkShowTemplate' - this site is not a real website in use !"
    robots="noindex, nofollow"
>
    <E_Head 
        time=`${import.meta.env.PUBLIC_NAME} x 554`
        name={eName}
        resume={eResume}
        twitch={twitch}
        participate={participate}
        partner={ePartner}
    />
    <p class="text-2xl text-center align-center mt-10">WPBC Trailer</p>
    <div class="flex justify-center text-center align-center mb-5 mr-10" style="margin-left: 5.5rem !important;">
        <E_Video 
            id="o7TQzcODnio"
            width={video.playlist.width}
            height={video.playlist.height}
        />
    </div>
    <p class="text-2xl text-center align-center">Lastest 2 releases</p>
    <div class="flex flex-nowrap justify-center mb-14 ml-5">
        <E_Video 
            id="o7TQzcODnio"
            width={video.single.width}
            height={video.single.height}
        />
        <E_Video 
            id="o7TQzcODnio"
            width={video.single.width}
            height={video.single.height}
        />
    </div>
    <Partners />
</Layout>