---
var LogoWhite = '/assets/img/components/navbar/logo_white.png';
var LogoBlack = '/assets/img/components/navbar/logo_black.png';
import SwitchTheme from './SwitchTheme.astro';

var classA = 'hover:pb-4 hover:border-b-4 hover:border-sky-700';
var classADropdown =
	'text-sm dark:hover:bg-slate-800 hover:bg-slate-200 text-slate-800 dark:text-slate-100 block px-4 py-2';
---

<nav
	class="lg:px-16 px-6 dark:bg-slate-900 dark:text-slate-100 bg-slate-100 text-slate-900 shadow-md flex flex-wrap items-center lg:py-0 py-2"
>
	<div class="flex-1 flex justify-between items-center">
		<div class="flex text-lg font-semibold">
			<a href="/" title={import.meta.env.PUBLIC_NAME} rel="noopener">
				<img
					src={LogoWhite}
					width="105"
					height="50"
					class="p-2 dark:block hidden"
					alt="Your Logo (White)"
					draggable="false"
				/>
				<img
					src={LogoBlack}
					width="105"
					height="50"
					class="p-2 block dark:hidden"
					alt="Your Logo (Black)"
					draggable="false"
				/>
			</a>
			<SwitchTheme />
		</div>
	</div>
	<label for="menu-toggle" class="cursor-pointer lg:hidden block dark:bg-slate-100 bg-slate-900">
		<svg
			class="fill-current text-gray-900"
			xmlns="http://www.w3.org/2000/svg"
			width="20"
			height="20"
			viewBox="0 0 20 20"
		>
			<title>menu</title>
			<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
		</svg>
	</label>
	<input class="hidden" type="checkbox" id="menu-toggle" />
	<div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
		<nav>
			<ul
				class="text-xl text-center items-center gap-x-5 pt-4 md:gap-x-4 lg:text-lg lg:flex lg:pt-0"
			>
				<li class="py-2 lg:py-0">
					<a href="/" class={classA}>Home</a>
				</li>
				<li>
					<button
						id="emissionsButton"
						data-dropdown-toggle="emissionsHover"
						data-dropdown-trigger="hover"
						class={classA}
					>
						Emissions
					</button>
					<!-- Dropdown menu -->
					<div
						id="emissionsHover"
						class="hidden dark:bg-slate-900 dark:text-slate-100 bg-slate-100 text-slate-900 dark:divide-gray-100 divide-gray-900 z-10 list-none divide-y rounded shadow my-4 w-44"
					>
						<ul class="py-1" aria-labelledby="dropdownLargeButton">
							<li>
								<a href="/emission/your-talk-show" class={classADropdown}>Your Talk Show</a>
							</li>
							<li>
								<a href="/emission/a-simple-emission" class={classADropdown}>A simple Emission</a>
							</li>
							<li>
								<a href="/emission/news-reports" class={classADropdown}>News Reports</a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<button
						id="filmsButton"
						data-dropdown-toggle="filmsHover"
						data-dropdown-trigger="hover"
						class={classA}
					>
						Films
					</button>
					<!-- Dropdown menu -->
					<div
						id="filmsHover"
						class="hidden dark:bg-slate-900 dark:text-slate-100 bg-slate-100 text-slate-900 dark:divide-gray-100 divide-gray-900 z-10 list-none divide-y rounded shadow my-4 w-44"
					>
						<ul class="py-1" aria-labelledby="dropdownLargeButton">
							<li>
								<a href="/film/wrong-person-bad-cop" class={classADropdown}
									>Wrong Person, Bad Cop!</a
								>
							</li>
							<li>
								<a href="/film/lost-in-the-spiderverse" class={classADropdown}
									>Lost in the Spiderverse</a
								>
							</li>
						</ul>
					</div>
				</li>
				<li class="py-2 lg:py-0">
					<a href="/about" class={classA}>About</a>
				</li>
				<li class="py-2 lg:py-0">
					<a href="/contact" class={classA}>Contact</a>
				</li>
			</ul>
		</nav>
	</div>
</nav>

<style>
	#menu-toggle:checked + #menu {
		display: block;
	}
</style>
