---
import Layout from '../../layouts/Layout.astro';
import E_Head from '../../components/Emissions/Head.astro';
import E_Video from '../../components/Emissions/Video.astro';
import Partners from '../../components/Partners.astro';

var eName = 'Your Talk Show';
var eResume = 'A news and discussion program on the latest technologies.';
var ePartner = '';

var twitch = import.meta.env.PUBLIC_GITHUB_URL;
var participate = '';

const video = {
	single: {
		width: '450',
		height: '300'
	},
	playlist: {
		width: '600',
		height: '350'
	}
};
---

<Layout
	title={eName + ' / Emissions'}
	description="! Demonstration of the code/design of a template called 'TalkShowTemplate' - this site is not a real website in use !"
	robots="noindex, nofollow"
>
	<E_Head
		time="Every first Saturday of the month from 9 to 11 p.m."
		name={eName}
		resume={eResume}
		twitch={twitch}
		participate={participate}
		partner={ePartner}
	/>
	<p class="text-2xl text-center align-center mt-10">Latest 3 releases</p>
	<div class="flex flex-nowrap justify-center mb-5 ml-5">
		<E_Video id="o7TQzcODnio" width={video.single.width} height={video.single.height} />
		<E_Video id="o7TQzcODnio" width={video.single.width} height={video.single.height} />
		<E_Video id="o7TQzcODnio" width={video.single.width} height={video.single.height} />
	</div>
	<p class="text-2xl text-center align-center">Our list of past releases</p>
	<div class="flex flex-nowrap justify-center mb-14 ml-5">
		<E_Video id="o7TQzcODnio" width={video.playlist.width} height={video.playlist.height} />
	</div>
	<Partners />
</Layout>
