---
import Footer from '../components/Layouts/Footer.astro';
import Navbar from '../components/Layouts/Navbar.astro';
 
interface Props {
	title: string;
	description: string;
	robots: string;
	redirect?: boolean;
}

const { title, description, robots, redirect } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<meta name="generator" content={Astro.generator} />
		<title>{`${title} / ${import.meta.env.PUBLIC_SHORTNAME} (Demo)`}</title>
		<meta name="robots" content={robots} />
		<meta name="googlebot" content={robots} />
		{redirect ? (
			<meta 
			  http-equiv="refresh" 
			  content={`0; url=${Astro.url.origin}` }
			/>
		  ) : null}
	</head>
	<body class="dark:bg-slate-950 bg-slate-100 dark:text-slate-100 text-slate-950">
		<header>
			<Navbar />
		</header>
		<main>
			<slot />
		</main>
		<Footer />
		<script src="../assets/js/flowbite-1.8.1.min.js"></script>
		<script src="../assets/js/switch_theme.js"></script>
	</body>
</html>